%h1 Listing parties

%table
  %tr
    %th Name
    %th Info
    %th Start
    %th
    %th
    %th

  - @parties.each do |party|
    %tr
      %td= party.name
      %td= party.info
      %td= party.start
      %td= link_to 'Show', party
      %td= link_to 'Edit', edit_party_path(party)
      %td= link_to 'Destroy', party, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Party', new_party_path
