= simple_form_for @party do |p|
  = p.simple_fields_for :rsvp do |r|
    = r.input :host
    =r.simple_fields_for :guest do |g|
      = g.input :name
      = g.input :email
      = g.input :company
      = g.input :title
  = p.button :submit
