%h1 RSVP List:

%table
  %tr
    %th #
    %th name
    %th company
    %th title
    %th guests

  - @party.rsvps.each_with_index do |rsvp, guest_index|
    %tr
      %td= guest_index + 1
      %td= rsvp.guest.name
      %td= rsvp.guest.company
      %td= rsvp.guest.title
      %td= rsvp.num_guests

%hr
= @party.rsvps.count.to_s + " people total"
= @party.rsvps.pluck(:num_guests).inject(0) { |total_guests, guests_in_this_rsvp| total_guests + guests_in_this_rsvp }
&nbsp;guests total
%br
